@mixin bg(){
    $r:floor(random()*256);
    $g:floor(random()*256);
    $b:floor(random()*256);
    $a:floor(random()*2+4)/10;
    $color:rgb($r,$g,$b);
    background:$color;
}
@mixin fang($w){
    width: $w;
    height: $w;
}
@mixin chang($w,$h){
    width: $w;
    height: $h;
}
@mixin yuan($w){
    width: $w;
    height: $w;
    border-radius: 50%;
}
@mixin zi($color,$size,$line,$center){
    color:$color;
    font-size: $size;
    text-align: $center;
    line-height: $line;
}
@mixin absz(){
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
}
@mixin abszy(){
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    margin: 0 auto;
}
@mixin img(){
    width: 100%;
    height: 100%;
}
@mixin abszuo($top,$left){
    position: absolute;
    top: $top;
    left: $left;
}
@mixin absyou($right,$bottom){
    position: absolute;
    right: $right;
    bottom: $bottom;
}
@mixin center($width,$height,$color){
    width: $width;
    height: $height;
    margin:0 auto;
    background: $color;
}
*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: "微软雅黑";
    text-decoration: none;
}
$number : 12;
//@minxin bannerz($k){
//  position: absolute;
//  top: 50%;
//  left: 0px;
//  margin-top:$k;
//}
//@minxin bannery($t){
//  position: absolute;
//  top: 50%;
//  right: 0px;
//  margin-top: $t;
//}
//@minxin bannerx($g,$l){
//  position: absolute;
//  left: 50%;
//  bottom: $g;
//  margin-left:$l ;
//}
